body{
    background-color: rgb(232,241,232);
}

td, th{
    width: 1%;
    text-align: center;
    border: solid black;
}

header, h2{
    text-align: center;
}

#primer_div{
    border-bottom: solid black;
    margin-top: 10px;
}


th{
    background-color: darkcyan;
}

form{
    background-color: rgb(229, 243, 244);
    text-align: center;
    border: solid black;
    width: 30%;
    margin-left: 32%;
    margin-bottom: 20px;
}
form input{
    margin-left: 50px;
    margin-top: 20px;
    font-weight: bold;
    width: 30%;
}

.separador{
    margin-bottom: 10px;
}

.capitulo{
    width: 35%;
    margin-left: 30%;
}

